@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin position($type, $top: null, $right: null, $bottom: null, $left: null) {
    position: $type;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}
